
.card {
  height: 65px;
  width: 60px;

}

.jumbotron {
  height: 200px;
}

/* #banner-text{
  background-color: black;
  opacity: 0.5;
} */

/* error notice */
.error-notice {
  padding:0.5rem;
  border:1px solid color(red);
  border-radius:8px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
}