
.card {
  /* height: 65px;
  width: 60px; */
  padding:0

}

nav{
  background-color:black !important;
  border:1px solid !important;
  border-bottom-color: #ffc61a !important;
}

.card-group{
  padding:0
}

.jumbotron {
  height: 200px;
}

/* #banner-text{
  background-color: black;
  opacity: 0.5;
} */

/* error notice */
.error-notice {
  margin:1rem 0;
  padding:0.5rem;
  border:1px solid color(red);
  border-radius:8px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
}

ul{
list-style:none
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'cyrodiilregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  }

.tooltip{ max-width: 20%; }

@font-face {
  font-family: 'cyrodiilregular';
  src: url('../src/utils/css/webfontkit-20200917-001613/cyrodiil-xj48-webfont.woff2') format('woff2'),
       url('../src/utils/css/webfontkit-20200917-001613/cyrodiil-xj48-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.classImg {
  
}