
.card {
  /* height: 65px;
  width: 60px; */
  padding:0

}

.card-group{
  padding:0
}

.jumbotron {
  height: 200px;
}

/* #banner-text{
  background-color: black;
  opacity: 0.5;
} */

/* error notice */
.error-notice {
  margin:1rem 0;
  padding:0.5rem;
  border:1px solid color(red);
  border-radius:8px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
}

ul{
list-style:none
}

.tooltip{ max-width: 20%; }